$phone-width: 375px;

body {
  margin: 0;
}

header {
  width: $phone-width;
  height: 48px;
  background-color: royalblue;
}

#content {
  width: $phone-width;
}

#titulo {
  color: white;
  font-family: Montserrat;
  font-weight: lighter;
}

#titulo > span {
  font-size: 24px;
  font-weight: bold;
}